html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-light);
  background: #111111;
  font-size: 1rem;
  font-family: var(--font-outfit), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: var(--font-bebas-neue), sans-serif;

  &:is(h1) {
    font-size: 6rem;
  }

  &:is(h5) {
    font-size: 1.25rem;
    font-family: var(--font-outfit);
  }
}

:root {
  --nav-height: 4rem;

  /* Colors */
  --text-light: #f6f6f6;
  --text-dark: #000000;

  --primary: #000000;
  --primary-50: #f6f6f6;
  --primary-100: #e7e7e7;
  --primary-200: #d1d1d1;
  --primary-300: #b0b0b0;
  --primary-400: #888888;
  --primary-500: #6d6d6d;
  --primary-600: #5d5d5d;
  --primary-700: #4f4f4f;
  --primary-800: #454545;
  --primary-900: #3d3d3d;
  --primary-950: #000000;

  --secondary: #41b6e6;
  --secondary-50: #f1f9fe;
  --secondary-100: #e3f1fb;
  --secondary-200: #c0e5f7;
  --secondary-300: rgb(136, 209, 241);
  --secondary-400: #41b6e6;
  --secondary-500: #21a1d6;
  --secondary-600: #1381b6;
  --secondary-700: #116793;
  --secondary-800: #12587a;
  --secondary-900: #154965;
  --secondary-950: #0e2f43;

  --accent: #db3eb1;
  --accent-50: #fdf2fb;
  --accent-100: #fce7f9;
  --accent-200: #fad0f4;
  --accent-300: #f7aaea;
  --accent-400: #f175da;
  --accent-500: #e94bc7;
  --accent-600: #db3eb1;
  --accent-700: #bb1b8c;
  --accent-800: #9a1a73;
  --accent-900: #811a61;
  --accent-950: #4f0838;

  --gray-50: #fdfdfd;
  --gray-100: #f9f9f9;
  --gray-200: #f0f0f0;
  --gray-300: #e8e8e8;
  --gray-400: #e1e1e1;
  --gray-500: #d9d9d9;
  --gray-600: #cecece;
  --gray-700: #bbb;
  --gray-800: #8d8d8d;
  --gray-900: #828282;
  --gray-950: #636363;
  --gray-999: #202020;
}
