button {
  all: unset;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  &:active {
    transform: scale(0.95);
  }

  transition: transform 0.2s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out, box-shadow 0.1s ease-out;
}

.btn-primary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--text-dark);

  &:hover {
    background-color: var(--secondary-300);
    box-shadow: 0 0.5rem 1rem rgba(65, 182, 230, 0.25),
      0 2rem 4rem rgba(65, 182, 230, 0.125);
  }
}

.btn-outline {
  border: 1px solid rgba(65, 182, 230, 0.5);

  &:hover {
    border-color: rgba(65, 182, 230, 1);
  }
}
